[submodule "turtlebot_src/turtlebot_simulator"]
	path = turtlebot_src/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator.git
[submodule "turtlebot_src/turtlebot"]
	path = turtlebot_src/turtlebot
	url = https://github.com/turtlebot/turtlebot.git
[submodule "turtlebot_src/turtlebot_apps"]
	path = turtlebot_src/turtlebot_apps
	url = https://github.com/turtlebot/turtlebot_apps.git
[submodule "turtlebot_src/robot_pose_ekf"]
	path = turtlebot_src/robot_pose_ekf
	url = https://github.com/udacity/robot_pose_ekf
[submodule "turtlebot_src/depthimage_to_laserscan"]
	path = turtlebot_src/depthimage_to_laserscan
	url = https://github.com/ros-perception/depthimage_to_laserscan.git
[submodule "turtlebot_src/kobuki_msgs"]
	path = turtlebot_src/kobuki_msgs
	url = https://github.com/yujinrobot/kobuki_msgs.git
